.visited-card {
  width: 120px;
  height: 118px;
  display: block;
  border: 1px solid #008000;
  padding: 0.5rem;
  border-radius: 8px;
}

.visited-card .img-box {
  width: 100%;
  height: 70px;
  background-color: aqua;
}

.visited-card .img-box .visited-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
